backports.functools-lru-cache==1.5
caniusepython3==7.1.0
certifi==2019.9.11
chardet==3.0.4
distlib==0.2.9.post0
docopt==0.6.2
futures==3.3.0
gevent==1.4.0
greenlet==0.4.15
idna==2.8
packaging==19.2
pyparsing==2.4.2
qs==1.4.1
requests==2.22.0
simplejson==3.16.0
six==1.12.0
urllib3==1.25.6
